.inv{
  display: none;
}

.invedit{
  display: none;
}

body {
  background-color: #db4041;
  font-family: Arial, Helvetica, sans-serif;
  color: #4c98cb;

}
h2{
  color: #4c98cb;
}

.header {
  margin: 20px;
  padding: 10px;
  text-align: center;
  background: white;
}

.header h1 {
  color: #4c98cb;
  font-size: 30px;
}

.footer {
  position: relative;
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #4c98cb;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  position: relative;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #db4041;
  color:white;
}

.topnav a.active {
  background-color: #4c98cb;
  color: #f2f2f2;
}

* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  margin: 20px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height: 600px;
}
.form{
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.button {
  background-color: 4169E1; 
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2 {
  background-color: white; 
  color: #4c98cb; 
  border: 2px solid #4c98cb;
}

.button2:hover {
  background-color: #4c98cb;
  color: white;
}

.custom-select{
  background-color: #4c98cb;
  color: white;
  border: none;
  padding: 6px 10px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;

}
.custom-select:hover{
  background-color: #db4041;
}



